@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";

* {
  margin: 0;
  padding: 0;
}

html, body {
  display:flex;
  justify-content:center;
  align-items:center;
  font-family: 'Press Start 2P';
  font-size: 1rem;
  line-height: 2;
  height: 100%;
  background-color: #221;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #fff090;
}

li {
  color: #4FAF44;
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: center;
margin-top: 20px;
}

ul{
    display: flex;
    flex-direction: column;
}


.arrow i {
  display: none;
}

.arrow {
  position:relative;
	display: block;
  color: #F6EB14;
}

.arrow:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
}

.arrow:hover i { 
  display: block;
  position: absolute;
  top: 0.50em; 
  left: -6em;
}

.deleteClick{
    background-color: red;
    color: #F6EB14;
    border: none;
    border-radius: 10px;
}

.deleteClick:hover{
    background-color: #F6EB14;
    color: red;
}